doctype html
html(lang='en')
  head
    title = title
  body
    h2#author(title='Goss') Safiullina Arina
    #container
      p List of logins:
      ol
        each item in items
          li= item.login